<a href="https://colab.research.google.com/github/getprashantgit/devineai/blob/main/basic/Day1Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print(type(5))
print(type(5.0))

x, y = 22, 11
print(x, y)

x, y = y, x
print(x, y)

<class 'int'>
<class 'float'>
22 11
11 22

Numopeter

In [3]:
divisor, divident = 4, 3
ans = divident / divisor
print(ans)
a, b, c, d = 2, 3, 4, 5

ans = a + b * c / d
print(ans)

# ** is power
exp = a ** b
print(exp)

mod = b % a
print(mod)

# // returns integer division result
intDiv = d // a
# / returns float division result
div = d / a
print(div, intDiv)


'''
PEMDAS
Parentheses
Exponents
Multiplication
Division
Addition
Subtraction
'''

0.75
4.4
8
1
2.5 2

'\nPEMDAS\nParentheses\nExponents\nMultiplication\nDivision\nAddition\nSubtraction\n'

variable1

In [5]:
num = 77
print(num * 2)
print(num)

num *= 2
print(num)

#Naming Convension
#snake_case
snake_case = 20

#for constants
CAPITAL_SNAKE_CASE, PI = 100, 3.14159603
#for class
class UpperCamelCase:
    pass

154
77
154

var datatypes

In [9]:
'''
bool
int
str
list
dict
'''

#bool
is_active = True
inactive = not is_active
print(is_active)
print(not is_active)
print(inactive)
print(not inactive)

#str
some_string = "hello i am code with divine!"
print(some_string)

#list
my_number = [1, 5, 4, 2]
print(my_number)
print(my_number[2])

#dict
my_name = {'first_name': "Jai Shree  ", 'last_name': "ram"}
print(my_name)
print(my_name['first_name'])
print(my_name['last_name'])

True
False
False
True
hello i am code with divine!
[1, 5, 4, 2]
4
{'first_name': 'Jai Shree  ', 'last_name': 'ram'}
Jai Shree
ram

daynmic data

In [10]:
game_over = True
print(game_over)

game_over = "Yes, it's Not over!"
print(game_over)

game_over = 22/7
print(game_over)

#None is nothing
game_over = None
print(game_over)
print(type(game_over))

True
Yes, it's over!
3.142857142857143
None
<class 'NoneType'>

string

In [11]:
single_qoute = 'hello check'
double_qoute = "hello check"
print(single_qoute)
print(double_qoute)

qoute = 'he said, "hello check!"'
print(qoute)
qoute = "he said, 'hello check'"
print(qoute)

qoute = "he said, \"hello check!\""
print(qoute)

#string concatenation
username = "mhkm"
msg = "Hello " + username
print(msg)

#Formatting String
name = "Ramji"
msg = f"Hello Mr. {name} Welcome!"
msg2 = "Hello Mr. {} Welcome!".format(name)
print(msg)
print(msg2)

hello check
hello check
he said, "hello check!"
he said, 'hello check'
he said, "hello check!"
Hello mhkm
Hello Mr. Ramji Welcome!
Hello Mr. Ramji Welcome!

convert data types

In [14]:
print("How many KM did you walk today?")
# by default input return string input
kms = float(input())
miles = kms/1.61
# precisions
miles = round(miles, 3)
print(f"Your {kms} KM is {miles} Miles")

How many KM did you walk today?
21
Your 21.0 KM is 13.043 Miles